@model TP4_MVC_2.Models.Employee

<div class="row">
    <div class="col-5 offset-2">

        <table class="table table-bordered">
            <tr>
                <th>Name:</th>
                <th>@Model.FirstName &nbsp; @Model.LastName</th>
            </tr>
            <tr>
                <th>Email :</th>
                <th>@Model.Email</th>
            </tr>
            <tr>
                <th>Gender :</th>
                <th>@Model.Gender</th>
            </tr>

            <tr>
                <th>Mobile :</th>
                <th>@Model.Mobile</th>
            </tr>

            <tr>
                <th>Address :</th>
                <th>@Model.Address</th>
            </tr>
        </table>


    </div>
</div>
